html {
  font-size: 16px;
  height: 100%;
}

body, .wrapper {
  min-height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: start;

  flex-direction: column;
}

.wrapper_neutral {
 text-align: center;
}
.neutral_name {
  margin-right: 1rem;
}
.neutral_current {
  font-size: 1.4rem;
  box-shadow: 0 2px blue;
  display: inline-block;
  width: 4rem;
}


.options {
  margin: 3rem 1rem;
  width: 20rem;
}
.sliders, .wrapper_neutral  {
  padding: 0.5rem;
}

.sliders {
  margin-bottom: 0.5rem;
}

.option {
  display: block;
  padding: 0.5rem;

  -webkit-appearance: none;
  appearance: none;
  width: 100%; 
  height: 0.6rem;
  opacity: 0.7;
  -webkit-transition: .2s; 
  transition: opacity .2s;
}
.sliders label {
 display: block;
 margin: 0 auto 0.5rem auto;
 
 font-size: 0.8rem;
 text-align: center;
 line-height: 1rem;
 width: 3.2rem;
}
label[for=yellow] {
  box-shadow: 0 2px yellow;
 }
 label[for=green] {
  box-shadow: 0 2px green;
 }
 label[for=red] {
  box-shadow: 0 2px red;
 }


.option::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid;
  width: 0.9rem;
  height: 2.5rem;
  cursor: pointer;

  background-color: white;
}

.option::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 1px solid;
  cursor: pointer;
}

#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#red {
  background-color: red;
}

.diagramm {
  padding: 0.5rem;
}